ul {
    text-align: justify !important;
}

h2 {
    font-family: extraBold !important;
}

.center-abs {
    display: flex
;
    /* align-items: ; */
    justify-content: center;
    min-height: 450px;
    flex-direction: column;
    padding: 2rem;
}

#summery-btn {
    background-color: var(--primary) !important;
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 15px !important;
    cursor: pointer;
}

#transcript-btn {
    background-color: #a2c2a0 !important;
    color: black !important;
    padding: 0.5rem 1rem;
    border-radius: 15px !important;
    cursor: pointer;
}

#transcriptCollapse {
    max-height: 400px;
    overflow-y: auto;
}

#summaryCollapse {
    max-height: 400px;
    overflow-y: auto;
}

.summary-card {
  transition: all 0.25s ease-in-out;
  border: 1px solid transparent;
}

.summary-card:hover {
  background-color: #dbf7db !important;
  border: 1px solid #8cd88c !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18) !important;
  transform: translateY(-2px);
}
.summary-card:active {
  transform: translateY(0);
}